body{
    margin: 0;
    background-color: rgb(199, 255, 255);
    font-family: Sans-Serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/*Chrome safari and opera*/
body::-webkit-scrollbar {
    display: none;
}


h1{
    text-align: center;
    font-size: 200%;
    position: sticky;
}
.about{
    text-align: center;
    font-size: 4vh;
    height: 100vh;
}
h2{
    font-size: 6vh;
}
h5{
    font-size: 3.5vh;
}

.begin{
    height: 100vh;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
        rgba(255, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("../assets/begin_back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-wrap: wrap-reverse;
    align-content: center;
    font-size: xx-large;
    text-align: center;
    margin: 0;
}

#pfp{
    border-radius: 100%;
    clip-path: circle();
    width: 20%; 
    height:auto;
}

.query{
    position: relative;
    left: 10%;
    margin-left: -50px;
    width: 87vw;
    height: 10vh;
    text-align: center;
    font-size: x-large;
    padding-bottom: 2%;
}
#query{
    text-align: center;
    width:60vw;
    height: 10vh;
    font-size: x-large;
    padding:10px;
    border-radius:30px;
    box-shadow:0 0 15px 4px rgba(34, 34, 34, 0.308);
}
  
#submit{
    height: 5vh;
    width: 3vw;
    min-width: 50px;
    font-size: large;
}

.output{
    position: relative;
    text-align: center;
    left: 25%;
    width: 50vw;
    font-size: xx-large;
}
#scroll{
    text-align: right;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(0,0,0,0.8);
    position: fixed; 
    top: 0px; 
    left: 0px;
    width: 100vw;
    height: auto;
    z-index: 500;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #ff7360;
    color: rgb(0, 0, 0);
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}